<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:group {"style":{"spacing":{"padding":{"top":"4em","bottom":"4em"}}},"backgroundColor":"background-secondary","className":"margin-0","layout":{"inherit":true}} -->
<div class="wp-block-group margin-0 has-background-secondary-background-color has-background" style="padding-top:4em;padding-bottom:4em"><!-- wp:heading {"textAlign":"center","fontSize":"huge"} -->
    <h2 class="has-text-align-center has-huge-font-size" id="h-404">404</h2>
    <!-- /wp:heading --></div>
    <!-- /wp:group -->
    
    <!-- wp:template-part {"slug":"breadcrumbs","tagName":"uncategorized"} /-->
    
    <!-- wp:group {"style":{"spacing":{"padding":{"top":"3em","right":"3em","bottom":"3em","left":"3em"}}},"layout":{"inherit":true}} -->
    <div class="wp-block-group" style="padding-top:3em;padding-right:3em;padding-bottom:3em;padding-left:3em"><!-- wp:search {"label":"Search","buttonText":"Search"} /--></div>
    <!-- /wp:group -->
    
    <!-- wp:template-part {"slug":"footer-3-col","tagName":"footer"} /-->